<div class="top-wrapper">
  <div class="top-content">
    <div class="top-title">
      <div class="top-title-text">あなたのお気に入りの場面を共有しよう！</div>
      <div class="top-search">
        <%= icon('fas', 'magnifying-glass') %>
        検索窓
      </div>
    </div>
    <div class="top-post">
      <div class="top-post-title">
        <%= link_to "最新の投稿", "#", class: "top-post-title-link" %>
      </div>
    </div>
  </div>
</div> 
