<footer>
  <div class="container">
    <ul class="container-ul">
      <li>
        <%= link_to "利用規約", "#", class: "container-list" %>
      </li>
      <li>
        <%= link_to "プライバシーポリシー", "#", class: "container-list" %>
      </li>
      <li>
        <%= link_to "お問合せ", "#", class: "container-list" %>
      </li>
    </ul>
    <p class="copylight">Copyright © 2022. YUKI</p>
  </div>
</footer>
