<nav class="navbar">
  <h4 class="navbar-logo">
    <%= link_to "MangaBestGram", "/", class: "nav-title" %>
  </h4>
  <div class="nav-list">
    <ul class="nav-ul">
      <li class="nav-li">
        <%= link_to "ゲストログイン", "#", class: "nav-li-text" %>
      </li>
      <li class="nav-li">
        <%= link_to "ログイン", "#", class: "nav-li-text" %>
      </li>
      <li class="nav-li">
        <%= link_to "新規登録", "#", class: "nav-li-text" %>
      </li>
    </ul>
  </div>
</nav>
